<div class="row">
  <div class="col-md-6">
    <table class="table ">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr [class.table-active]="selectedProduct?.id == product.id || editProduct?.id == product.id" *ngFor="let product of products" (click)="previewProduct(product)" >
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
              <button (click)="removeProduct(product)" class="btn btn-sm btn-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <button class="btn btn-default" (click)="openNew()" >New Product</button>
    </p>
  </div>
  <div class="col-md-6">

    <app-product-preview *ngIf="selectedProduct" (openEdit)="openEdit($event)" [selectedProduct]="selectedProduct" ></app-product-preview>

    <app-product-form *ngIf="editProduct" (save)="saveProduct($event)" [product]="editProduct"></app-product-form>

    <app-product-form *ngIf="newProduct" (save)="saveProduct($event)" [product]="newProduct"></app-product-form>
</div>